<div class="container header">
  <i class="bi bi-0-circle"></i>
  <header class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4">
    <a href="javascript:history.back()" [ngClass]="{'hide-btn-back': btnback == 'false'}" class="btn-back">
      <svg xmlns="http://www.w3.org/2000/svg" width="51" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    </a>
    <a href="/deep-trainning/#/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="assets/img/logo_nina.png" class="bi me-2 logo" width="70">
    </a>
    <ul class="nav nav-pills " >
      <li class="nav-item d-none d-md-block" *ngFor="let item of menu">
        <a routerLink="{{item.link}}" (click)="btnMobile = false" [ngClass]="{'btn-active': active == item.title}" class="btn rounded-pill px-3">{{item.title}}</a>
      </li>
      <li class="nav-item d-block d-sm-none">
        <a  class="btn hambur" (click)="btnMobile = true">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
      </li>
    </ul>
    <div class="menu-mobile d-block d-sm-none" [ngClass]="{'menu-mobile-active': btnMobile == true}">
      <ul class="nav nav-pills" >
        <li class="nav-item" >
          <a class="btn btn-close-menu" (click)="btnMobile = false">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item" *ngFor="let item of menu">
          <a routerLink="{{item.link}}" [ngClass]="{'btn-active': active == item.title}" class="btn font-mobile">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </header>
</div>