<div class="container header">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="assets/img/logo.png" class="bi me-2 logo" width="60">
    </a>
    <ul class="nav nav-pills" *ngFor="let item of menu">
      <li class="nav-item">
        <a routerLink="{{item.link}}" [ngClass]="{'btn-active': active == item.title}" class="btn rounded-pill px-3">{{item.title}}</a>
      </li>
    </ul>
  </header>
</div>