<app-header class="header" [active]="'Exercicíos'"></app-header>
<div class="container">
    <h1 class="mt-4">Back squad</h1>
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/ultWZbUMPL8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>