/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
body {
  font-family: 'Bebas Neue', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
  padding: 70px;
}

body {
    background-color: #191414;
}


body,
html {
    margin: 0;
    padding: 0;
}